* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.wrap {
    max-width: $page-wrap-desctop;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
    position: absolute;
    left: -99999999px;
}

@media (max-width: $max-width-tablet) {
    .wrap {
        max-width: $page-wrap-tablet;
    }
}

@media (max-width: $max-width-mobile) {
    .wrap {
        max-width: $page-wrap-mobile;
    }
}