.padding-top-32 {
    padding-top: 32px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-64 {
    padding-top: 64px;
}

.padding-top-96 {
    padding-top: 96px;
}

.margin-top-96 {
    margin-top: 96px;
}

.margin-top-128 {
    margin-top: 128px;
}
.padding-top-130 {
    padding-top: 130px;
}