.add-card {
    position: relative;
    margin-top: -64px;
    padding-top: 65px;
    padding-bottom: 65px;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;

    &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 555px;
    }

    &-collection {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $pink;
    }

    &-line1 {
        margin-top: 12px;
        width: 63px;
        height: 3px;
        border: none;
        color: $pink;
        background-color: $pink;
    }

    &-heading {
        padding-top: 12px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    &-desc {
        padding-top: 48px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }

    &-price {
        padding-top: 32px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }

    &-line2 {
        margin-top: 65px;
        width: 641px;
        height: 1px;
        border: none;
        color: #EAEAEA;
        background-color: #EAEAEA;
    }

    &-options {
        display: flex;
        align-items: center;
        margin-top: 65px;
    }

    &-optn-desc:not(:last-child) {
        padding-right: 9px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &-optn-icon {
        @include svg-unhover-gray;

        &:not(:last-child) {
            padding-right: 23px;
        }

        &:hover {
            @include svg-hover-pink;
        }
    }

    &-bttn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 48px;
        width: 211px;
        height: 47px;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        @include bttn-unhover-white;
        
        &:hover {
           @include bttn-hover-pink;
        
            svg {
                fill: #FFFFFF;
            }
        }
    }

    &-bttn1-icon {
        padding-left: 23px;
        padding-right: 23px;
        fill: $pink;
    }
}