.cart {
    display: flex;

    &-wrap {
        width: 652px;
    }

    &-item {
        display: flex;
        background: #FFFFFF;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    }

    &-padding:not(:last-child) {
        margin-bottom: 40px;
    }

    &-options {
        padding-left: 31px;
        width: 319px;
    }

    &-item-name {
        padding-top: 22px;
        padding-bottom: 42px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;    
        color: #222222;
    }

    &-options-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;    
        color: #575757;
        padding-bottom: 6px;
    }

    &-options-value {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;    
        color: #6F6E6E;
    }

    &-price-value {
        color: $pink;;
    }

    &-qnt-block {
        padding-top: 6px;
        display: flex;
    }

    &-qnt-input {
        margin-left: 40px;
        width: 60px;
        height: 24px;
        border: 1px solid #EAEAEA;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #656565;
        outline: none;
    }

    &-delete {
        padding-top: 28px;
        padding-right: 22px;
    }

    &-bttn-del {
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        outline: none;
        border: none;
    }

    &-block-bttn {
        padding-top: 72px;
        padding-bottom: 128px;
    }

    &-block-bttn-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-bttn {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        width: 234px;
        height: 49px;
        outline: none;
        @include bttn-unhover-white-gray;

        &:hover {
            @include bttn-hover-pink;
        }
    }

    &-block-bttn-left {
        width: 652px;
    }

    &-address {
        margin-left: 128px;
        width: 100%;
    }

    &-address-desc {
        padding-top: 17px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &-address-input {
        margin-top: 21px;
        padding: 13px 17px 15px 17px;
        outline: none;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
        border: 1px solid #A4A4A4;
    }

    &-address-bttn {
        margin-top: 24px;
        width: 102px;
        height: 35px;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        outline: none;
        @include bttn-unhover-white-gray;

        &:hover {
            @include bttn-hover-pink;
        }
    }

    &-address-form {
        display: flex;
        flex-direction: column;
    }

    &-total {
        margin-top: 57px;
        padding-top: 39px;
        padding-bottom: 42px;
        background: #F5F3F3;
    }

    &-sub-total-desc {
        padding-left: 218px;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
    }

    &-sub-total-value {
        padding-left: 10px;
    }

    &-grand-total-value {
        padding-left: 10px;
        font-weight: 700;
        color: $pink;
    }

    &-grand-total-desc {
        padding-top: 12px;
        padding-left: 153px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-total-line {
        margin: 21px 0px 0px 0px;
        width: 275px;
        height: 1px;
        border: none;
        color: #E2E2E2;
        background-color: #E2E2E2;    
    }

    &-total-bttn {
        margin-top: 17px;
        width: 273px;
        height: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        outline: none;
        @include bttn-unhover-pink;

        &:hover {
            @include bttn-hover-white;
        }
    }
}