.filter {
    position: relative;
    box-sizing: border-box;
    width: 360px;
    outline: none;
    border: none;

    &:hover {
        color: $pink;
    }

    &:hover svg {
        @include svg-hover-pink;
    }

    &[open] {
        padding-left: 16px;
        background: #FFFFFF;
        outline: none;
        border: none;
        z-index: 1;
        color: $pink;
    }

    &[open] svg{
        fill: $pink;
    }

    &-desc {
        outline: none;
        border: none;
        list-style-type: none;
    }

    &-content {
        margin-top: 10px;
        padding-left: 16px;
        box-sizing: border-box;
        position: absolute;
        background: #FFFFFF;
        width: 360px;
        left: 0;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &-container {
        padding-top: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-section {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 360px;
    }

    &-row {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-right: 28px;
    }

    &-icon-arrow {
        padding-left: 11px;
        @include svg-unhover-gray;
    }

    &-item-desc {
        display: block;
        border-left: 10px solid $pink;
        border-bottom: 1px solid #EBEBEB;
        padding: 11px;
        margin-top: 16px;
        margin-right: 16px;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $pink;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 16px;
        }
    }

    &-item-ul {
        padding-left: 17px;
    }

    &-item-li {
        list-style-type: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:not(:last-child) {
            padding-bottom: 11px;
        }
    }

    &-icon-sort {
        padding-left: 11px;
        @include svg-unhover-black;

        &:hover {
            @include svg-hover-pink;
        }
    }

    &-heading-bold {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &-heading-normal{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
}