.filter {
    &-container {
        padding-top: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-section {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 360px;
    }

    &-row {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-right: 28px;
    }

    &-icon {
        padding-left: 11px;
    }

    &-heading-bold {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &-heading-normal{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
}