.header {
    background: #222222;
    padding: 18px 0px;

    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-menu {
        display: flex;
        list-style-type: none;
        align-items:flex-end
    }

    &-menu-icon {
        @include svg-unhover-white;

        &:hover {
            @include svg-hover-pink;
        }
    }

    &-menu-logo {
        transition: transform 0.4s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    &-menu-left-item {
        padding-right: 41px;
    }

    &-menu-right-item {
        padding-left: 33px;
    }
}