.offer {
    padding-top: 65px;

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    &-item {
        position: relative;
        text-align: center;
        width: 33.33%;
        height: 260px;
        background: rgba(33, 22, 22, 0.7);
        overflow: hidden;
        display: flex;
        justify-content: center;
        background: #FFFFFF;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &-item-img {   
        transition: transform 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-full-width {
        position: relative;
        text-align: center;
        width: 100%;
        background: rgba(33, 22, 22, 0.7);
        overflow: hidden;
    }

    &-item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-item-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 28,8px;
        text-align: center;
        color: $pink;
    }

    &-item-desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &-full-width {
        margin-top: 30px;
        text-align: center;
        height: 180px;
        background: rgba(33, 22, 22, 0.7);
    }
}

@media (max-width: $max-width-tablet) {
    .offer {
        &-item {
            height: 167.62px;

            &:not(:last-child) {
                margin-right: 19px;
            }
        }
    }
}

@media (max-width: $max-width-mobile) {
    .offer {
        &-item {
            margin-right: 0px;
        }

        &-full-width {
            height: 116px;
        }
    }
}