.pg-h1 {
    background: $light-pink;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 148px;    
    }

    .pg-h1-desc-only {
        justify-content: center;
    }

    &-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }

    &-crumbl {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &-crumbl-color {
        font-weight: 700;
        color: $pink;
    }
}

@media (max-width: $max-width-mobile) {
    .pg-h1 {
        &-wrap {
            flex-direction: column;
            justify-content: flex-start;
        }

        &-desc {
            padding-top: 24px;
        }

        &-desc-only {
            padding-top: 0px;
        }

        &-crumbl {
            padding-top: 32px;
        }
    }
}