.goods-optn {
    position: relative;
    box-sizing: border-box;
    outline: none;
    border: none;

    &:not(:last-child) {
        padding-right: 23px;
    }

    &-color {
        &:hover .goods-optn-desc {
            color: $pink;
        }

        &:hover svg {
            @include svg-hover-pink;
        }

        &[open] {
            color: $pink;
        }

        &[open] svg{
            fill: $pink;
        }
        
        &[open] .goods-optn-desc{
            color: $pink;
        }
    }

    &-desc {
        white-space:nowrap;
        outline: none;
        border: none;
        list-style-type: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;        
        color: #6F6E6E;
    }

    &-block {
        margin-top: 10px;
        box-sizing: border-box;
        position: absolute;
        background: #FFFFFF;
        left: inherit;
        height: 100px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
    }

    &-icon-arrow {
        padding-left: 11px;
        @include svg-unhover-gray;
    }

    &-block-color {
        padding: 10px;
        width: 132px;
    }

    &-block-size {
        padding: 10px;
        width: 114px;
    }

    &-block-qnt {
        padding: 10px;
        width: 96px;
    }
}

@media (max-width: $max-width-mobile) {
    .goods-optn {
        &-desc {
            font-size: 10px;
            line-height: 12px;
        }

        &-block-color {
            width: 112px;
        }
    
        &-block-size {
            width: 100px;
        }
    
        &-block-qnt {
            width: 84px;
        }
    }
}