.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11px;
    height: 777px;
    background-color: #F7F7F7;
    position: relative;

    &-bttn {
        background: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        outline: none;
        border: none;
        position: absolute;

        &-left {
            left: 5px;
        }

        &-right {
            right: 5px;
        }

        &:hover svg {
            fill: $pink;
        }
    }

    &-img {
        height: 724px;
    }
}